
<div class="agendamento-box">
	<button>Realizar Agendamento</button>
	<div class="input-box">
		<label>Procurar</label>
		<input type="text" name="name" value="" placeholder="Qual horário está buscando ?" />
	</div>
</div>

<table class="table">

	<thead>
		<tr>
			<th>Disponível</th>
			<th>Nome</th>
			<th>Dia</th>
			<th>Hora</th>
			<th>btnRealizarAgendar</th>
		</tr>
	</thead>

	<tbody *ngFor="let schedules of schedules">
		<tr>
			<td>
				<img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;" />
				<img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;" />
			</td>
			<td>{{ schedules.name}}</td>
			<td>{{ schedules.scheduleDate }}</td>
			<td>{{ schedules.scheduleTime }}</td>
			<td>
				<button>Agendar</button>
			</td>
		</tr>
	</tbody>

</table>
